<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>My Dating Site</title>
</head>
<body>
<nav class="navbar navbar-light bg-light navbar-expand-lg border-bottom">
    <span class="navbar-brand mb-0 h1">My Dating Site</span>
</nav>
    <div class="container border rounded mt-3" id="content">
        <div class="row">
            <div class="col-sm-5 text-center mt-3" id="text">
                <h1>My Dating Site</h1>
                <p>
                    Welcome to the web's most successful dating website. At
                    <strong>My Dating Website</strong> you'll meet another like minded
                    individuals. We have the highest success rate of couples on the web.
                    User's are matched by interest and location. Find out why so
                    many others have found love on our site!
                </p>
                <br>
                <h3>Hear what our users are saying about us.</h3>
                <div class="border-bottom border-top">
                    <i>"I met the love of my life after only a month!" -Andrea</i><br><br>
                    <i>"It was so easy to set up and profile and start meeting people.
                        I didn't realize how many others were looking for love in my area" -John Smith</i><br><br>
                    <i>"Just try it! You'll never be the same!" -Sarah</i>
                </div>

                <button type="button" class="btn btn-primary btn-lg mt-2 mb-2" id="button">Create a Profile!</button>
            </div>
            <div class="col-sm-7" id="picture">
                <img src="images/homepage.jpg" alt="Couple" class="rounded img-responsive mx-auto d-block mt-4 thumbnail">
            </div>
        </div>
    </div>
</body>
</html>