<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>Interests</title>
</head>
<body>
<nav class="navbar navbar-light bg-light navbar-expand-lg border-bottom">
    <span class="navbar-brand mb-0 h1">My Dating Site</span>
</nav>
<div class="container border rounded pt-3 mt-3 pl-5 pr-5" id="content">
    <div class="row">
        <div class="col-sm-12">
            <h1>Interests</h1><hr>
        </div>
    </div>
    <form method="post">
        <div class="row pl-3 pr-3">
                <label><strong>In-door Interest</strong></label>
        </div>
            <div class="row pl-3 pr-3 pb-1">
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tv">
                        <label class="form-check-label" for="tv">
                            TV
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="puzzles">
                        <label class="form-check-label" for="puzzles">
                            Puzzles
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="movies">
                        <label class="form-check-label" for="movies">
                            Movies
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="reading">
                        <label class="form-check-label" for="reading">
                            Reading
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cook">
                        <label class="form-check-label" for="cook">
                            Cooking
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cards">
                        <label class="form-check-label" for="cards">
                            Playing cards
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="board">
                        <label class="form-check-label" for="board">
                            Board games
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="video">
                        <label class="form-check-label" for="video">
                            Video games
                        </label>
                    </div>
                </div>
            </div>
        <div class="row pl-3 pr-3">
            <label><strong>Out-door Interest</strong></label>
        </div>
        <div class="row pl-3 pr-3 pb-1">
            <div class="col-sm-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="hike">
                    <label class="form-check-label" for="hike">
                        Hiking
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="walk">
                    <label class="form-check-label" for="walk">
                        Walking
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="biking">
                    <label class="form-check-label" for="biking">
                        Biking
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="climb">
                    <label class="form-check-label" for="climb">
                        Climbing
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="swim">
                    <label class="form-check-label" for="swim">
                        Swimming
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="collect">
                    <label class="form-check-label" for="collect">
                        Collecting
                    </label>
                </div>
            </div>
        </div>
    </form>
    <div class="row pb-3">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-md float-right">Next ></button>
        </div>
    </div>
</div>
</body>
</html>