<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>Summary</title>
</head>
<body>
        <nav class="navbar navbar-light bg-light navbar-expand-lg border-bottom">
            <span class="navbar-brand mb-0 h1">My Dating Site</span>
        </nav>

    <div class="container border
                    rounded pt-3 mt-3 pl-5 pr-5 pb-3" id="content">
        <div class="row">
            <div class="col-sm-6 border rounded pt-2 ">
                <p class="border-bottom">Name:</p>
                <p class="border-bottom">Gender:</p>
                <p class="border-bottom">Age:</p>
                <p class="border-bottom">Phone Number:</p>
                <p class="border-bottom">Email:</p>
                <p class="border-bottom">State:</p>
                <p class="border-bottom">Seeking:</p>
                <p class="border-bottom">Interests:</p>
            </div>
            <div class="col-sm-6">
                <img src="../images/summary.jpg" alt="default" class="rounded mx-auto d-block img-rounded img-responsive pl-3">
                <br>
                <label>Biography</label>
                <p class="text-center">
                    asdfasdfasdfasdfasdf
                    asdfasdfa  asdfasfefasdf  asdfwefasdf wefasdf awef
                    asdfasdddddddddddddddddd dddddddddddddddddddddd
                    asdf afjashdflk asldkfjlajwefl kajs ofij asldflaj sfj la
                    asdfasdsssssssssssfasdf l;aksdof lasjdfoiwel la lfjls laksjdflj
                    a lasflwej
                    asjfdowjelfjkfljasldf ljsldfjwoieflaskj oijfel
                </p>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary btn-lg mx-auto mt-2">Contact Me!</button>
        </div>
    </div>
</body>
</html>