<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>My Dating Site</title>
</head>
<body>
<nav class="navbar navbar-light bg-light navbar-expand-lg border-bottom">
    <a class="navbar-brand mb-0 h1" href="/328/dating">My Dating Site</a>
    <a class="navbar-brand mb-0 h1" href="/328/dating/admin">Admin</a>
</nav>
<div class="container border rounded my-3">
    <div class="row">
        <div class="col-sm-12 pt-3">
            <h1>Members</h1><hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 pt-2 ">
            <p>ID: {{@member['member_id']}}</p>
            <p>Name: {{@member['fname']}} {{@members['lname']}}</p>
            <p>Email: {{@member['age']}}</p>
            <p>Phone: {{@member['phone']}}</p>
            <p>Email: {{@member['email']}}</p>
            <p>State: {{@member['state']}}</p>
            <p>Gender: {{@member['gender']}}</p>
            <p>Seeking: {{@member['seeking']}}</p>
            <check if="{{@member['premium']}} == 1" >
                <p>Premium Member: Yes</p>
            </check>
            <check if="{{@member['premium']}} == 0" >
                <p>Premium Member: No</p>
            </check>
            <check if="{{@member instanceof PremiumMember}}">
                <p>Interests: {{@member['interests']}}</p>
            </check>
            <check if="{{@member instanceof Member}}">

            </check>

        </div>
    </div>

</div>

</body>
</html>